* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f5f5f5;
}
ul {
  list-style: none;
}
html {
  font-size: 100px;
}
.a_ {
  height: 0.5rem;
  background: #ff8a00;
  overflow: hidden;
}
.a_ > :nth-child(1) {
  width: 1rem;
  height: 0.29rem;
  float: left;
  margin-left: 0.35rem;
  margin-top: 0.1rem;
}
.a_ > :nth-child(2) {
  float: left;
  width: 0.22rem;
  height: 0.3rem;
  margin-left: 1.5rem;
  margin-top: 0.1rem;
}
.a_ > :nth-child(3) {
  float: left;
  width: 0.23rem;
  height: 0.3rem;
  margin-left: 0.2rem;
  margin-top: 0.1rem;
}
.a_11 {
  height: 0.64rem;
  background: #2f3130;
  overflow: hidden;
}
.a_11 > ul {
  list-style: none;
  font-size: 0.14rem;
  float: left;
  margin-top: 0.1rem;
  margin-left: 0.2rem;
}
.a_11 > ul > li {
  float: left;
  width: 1.5rem;
}
.a_11 > ul > :nth-child(2) {
  margin-left: 0.4rem;
}
.a_11 > ul > li > img {
  width: 0.3rem;
  height: 0.3rem;
  float: left;
}
.a_11 > ul > li > p {
  float: left;
  margin-left: 0.25rem;
  color: #939494;
}
.a_12 {
  height: 0.4rem;
  background: #171818;
}
.a_12 > img {
  width: 0.2rem;
  height: 0.2rem;
  float: left;
}
.a_12 > p {
  font-size: 0.12rem;
  color: #939494;
  margin-left: 0.9rem;
}
.a_12 > p > span {
  margin-left: 0.2rem;
}
.top_title {
  width: 100%;
  height: 0.36rem;
}
.top_title span {
  letter-spacing: 0.01rem;
  height: 0.36rem;
  line-height: 0.36rem;
  float: left;
  font-size: 0.16px;
}
.top_title span:nth-child(1) {
  font-weight: 600 ;
  margin-left: 0.15rem;
}
.top_img {
  position: relative;
  width: 100%;
  height: 1.85rem;
  overflow: hidden;
}
.top_img img {
  width: 100%;
  height: 100%;
}
.top_img .top_img_search {
  width: 0.6rem;
  height: 0.4rem;
  line-height: 0.4rem;
  padding-left: 0.15rem;
  position: absolute;
  font-size: 0.16rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 0.1rem;
  bottom: 0.1rem;
  right: -0.15rem;
}
.top_img_txt {
  width: 100%;
  height: 0.73rem;
  display: flex;
  font-size: 0.18rem;
  border-bottom: 1px solid #ccc;
}
.top_img_txt span:nth-child(1) {
  padding-top: 0.15rem;
  padding-left: 0.15rem;
  font-weight: 600 ;
  flex: 3.5;
  height: 0.58rem;
  border-right: 1px solid #ccc;
}
.top_img_txt span:nth-child(2) {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding-top: 0.1rem;
}
.top_img_txt span:nth-child(2) img {
  width: 0.3rem;
  height: 0.3srem;
  margin: 0 auto;
}
.top_img_txt span:nth-child(2) span {
  text-align: center;
  font-size: 0.16rem;
  padding: 0;
}
.house_mes1 {
  width: 100%;
  height: 1rem;
  background-color: white;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #ccc;
}
.house_mes1 li {
  flex: 1;
  height: 60%;
  display: flex;
  flex-direction: column;
  font-size: 0.16rem;
  text-align: center;
}
.house_mes1 li span:nth-child(2) {
  color: #ff8a00;
  margin-top: 0.1rem;
}
.house_mes1 li:nth-child(2) {
  border-left: 2px solid #ccc;
  border-right: 2px solid #ccc;
}
.house_mes2 {
  height: 1.55rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.16rem;
  font-weight: 500;
}
.house_mes2 li {
  flex: 1;
  display: flex;
  align-items: center;
  width: 90%;
  border-bottom: 1px solid #ccc;
}
.house_mes2 li span:nth-child(1) {
  width: 50%;
}
.broker_comment {
  margin: 0 auto;
  padding-left: 0.15rem;
  background-color: white;
  border: 1px solid #ccc;
  width: 90%;
  margin-top: 0.1rem;
  display: flex;
  flex-direction: column;
}
.broker_comment .broker_comment_title {
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
}
.broker_comment .broker_comment_title span {
  width: 92%;
  font-size: 0.25rem;
  color: orange;
  font-weight: 600;
  height: 0.45rem;
  line-height: 0.45rem;
}
.broker_comment .broker_comment_title img {
  width: 0.1rem;
  height: 0.15rem;
}
.broker_comment .broker_comment_con {
  padding: 0.1rem;
  padding-left: 0;
  font-size: 0.16rem;
}
.location .broker_comment_con {
  border: 1px solid #ccc;
  padding-right: 0;
  margin-top: 0.1rem;
  width: 95%;
  font-size: 0.18rem;
  font-weight: 600;
}
.location .broker_comment_con .location_title {
  padding-bottom: 0.1rem;
  border-bottom: 1px solid #ccc;
}
.location .broker_comment_con .location_map #container {
  width: 100%;
  height: 100%;
}
.location .broker_comment_con .location_map #info {
  position: absolute;
  background: #FFF;
  width: 300px;
  height: 25px;
  padding: 20px;
  z-index: 9999;
  top: 30px;
  left: 30px;
}
.location .broker_comment_con .location_map #getcenter {
  position: absolute;
  left: 20px;
  top: 10px;
}
.location .broker_comment_con .location_map #setcenter {
  position: absolute;
  left: 110px;
  top: 10px;
}
.history .broker_comment_con span:nth-child(1) {
  color: #de6843;
  display: inline-block;
  margin-bottom: 0.25rem;
}
.relation {
  width: 100%;
  background-color: white;
  display: flex;
  font-size: 0.16rem;
  margin-top: 0.1rem;
  padding-bottom: 0.07rem;
  padding-top: 0.05rem;
}
.relation .relation_img {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.relation .relation_img img {
  width: 0.4rem;
  height: 0.4rem;
}
.relation .name {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.relation .call {
  flex: 1;
  display: flex;
  flex-direction: column;
  color: #5dcb96;
}
.relation .call img {
  width: 0.3rem;
  height: 0.3rem;
}
.relation .note {
  flex: 1;
  display: flex;
  flex-direction: column;
  color: #5baede;
}
.relation .note img {
  width: 0.3rem;
  height: 0.3rem;
}
